<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="{{url_for('static', filename='css/fullinfo.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Gilt-Head Bream</h1>
    <p>
      The gilt-head (sea) bream (Sparus aurata) is a fish of the bream family
      Sparidae found in the Mediterranean Sea and the eastern coastal regions of
      the North Atlantic Ocean. It commonly reaches about 35 centimetres (1.15
      ft) in length, but may reach 70 cm (2.3 ft) and weigh up to about 7.36
      kilograms (16.2 lb).[2] The gilt-head bream is generally considered the
      best tasting of the breams. It is the single species of the genus Sparus –
      the Latin name for this fish[3] – which has given the whole family of
      Sparidae its name. Its specific name, aurata, derives from the gold bar
      marking between its eyes. The genome of the species was released in 2018,
      where the authors detected fast evolution of ovary-biased genes likely
      resulting from the peculiar reproduction mode of the specie
    </p>
    <p>
      Gilthead seabream is an esteemed food fish, but catches of wild fish have
      been relatively modest, between 6,100 and 9,600 metric tons (6,000 and
      9,400 long tons; 6,700 and 10,600 short tons) in 2000–2009, primarily from
      the Mediterranean.[5] In addition, gilthead seabream have traditionally
      been cultured extensively in coastal lagoons and saltwater ponds. However,
      intensive rearing systems were developed during the 1980s, and gilthead
      seabream has become an important aquaculture species, primarily in the
      Mediterranean area and Portugal. Reported production was negligible until
      the late 1980s, but reached 140,000 metric tons (140,000 long tons;
      150,000 short tons) in 2010, thus dwarfing the capture fisheries
      production.[6] Greece is the biggest seabream producer in Europe, followed
      by Turkey
    </p>

    <h2>Sites</h2>
    <div>
      <img
      src=https://www.seafish.org/media/1tqbybz4/gilthead-sea-bream.png?anchor=center&mode=crop&rnd=132427547865900000"
      height="200" width="300" />
      <iframe
        src="https://www.google.com/maps/d/u/0/embed?mid=1ssP_9NVg1mZKNMPAxD6jWB4dVa6eLSc&ehbc=2E312F"
        height="200"
        width="300"
      ></iframe>
      <img
        src="https://www.fao.org/uploads/pics/ghiltF1.jpg"
        height="200"
        width="300"
      />
    </div>

    <p>
      Gilthead Bream are also known as Dorade or Royal Bream. Gilthead Bream are
      a round, warmwater fish which are farmed in the Mediterranean. As Gilthead
      Bream are farmed they are available all year round and are generally good
      value for money. Gilthead Bream has a mild and sweet flavour with a medium
      to soft flesh texture producing small flakes of fish. They have a medium
      oil content. Species which could be used as an alternative to Gilthead
      Bream include Sea Bream and Sea Bass. When in its prime, it is possible to
      achieve a 49% yield from a Gilthead Bream. When a Gilthead Bream is
      pan-fried, the skin takes on an interesting appearance similar to a
      reptile, with a rough wheat-grain like surface, making for a crisp finish.
      The flesh of a Gilthead Bream is delicate, juicy and each flake is
      separated by a layer of slick oil. The tail of the Bream offers a more
      oily flavour to the loin.
    </p>
  </body>
</html>
