<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="{{url_for('static', filename='css/fullinfo.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Black sea serpat</h1>
    <p>
      The Black Sea sprat, Clupeonella cultriventris, is a small fish of the
      herring family, Clupeidae. It is found in the Black Sea and Sea of Azov
      and rivers of its basins: Danube, Dnister, Dnipro (Ukraine), Southern Bug,
      Don, Kuban. It has white-grey flesh and silver-grey scales. A typical size
      is 10 cm (maximum 15 cm)[3] The life span is of up to 5 years.[3] The peak
      of its spawning is in April and it can be found in enormous shoals in
      sea-shores, filled all-round coastal shallows, moving quickly back into
      the sea at a depth of 6–30 metres. Used for food; it has around 12% fat in
      flesh. It is one of the most abundant fishes in the Sea of Azov. It is
      important prey for other fishes, particularly the pikeperch.[4]
    </p>
    <p>
      The Black Sea sprat, Clupeonella cultriventris, is a small fish of the
      herring family, Clupeidae. It is found in the Black Sea and Sea of Azov
      and rivers of its basins: Danube, Dnister, Dnipro (Ukraine), Southern Bug,
      Don, Kuban. It has white-grey flesh and silver-grey scales. A typical size
      is 10 cm (maximum 15 cm) The life span is of up to 5 years. The peak of
      its spawning is in April and it can be found in enormous shoals in
      sea-shores, filled all-round coastal shallows, moving quickly back in the
      sea at a depth of 6–30 metres. Used for food; it has around 12% fat in
      flesh. It is one of the most abundant fishes in the Sea of Azov. It is
      important prey for other fishes, particularly the pikeperch. The Caspian
      tyulka Clupeonella caspia has been long considered a subspecies of C.
      cultriventris, C. cultriventris caspia, and a common name "Black and
      Caspian Sea sprat" was then applied to the whole. (en)
    </p>

    <h2>Sites</h2>
    <div>
      <img
        src="https://thumbs.dreamstime.com/b/fresh-black-sea-sprat-fish-isolated-white-background-fresh-black-sea-sprat-fish-isolated-white-background-229890038.jpg"
        height="200"
        width="300"
      />
      <iframe
        src="https://www.google.com/maps/d/u/0/embed?mid=1ssP_9NVg1mZKNMPAxD6jWB4dVa6eLSc&ehbc=2E312F"
        height="200"
        width="300"
      ></iframe>
      <img
        src="https://thumbs.dreamstime.com/b/fresh-black-sea-sprat-fish-isolated-white-background-fresh-black-sea-sprat-fish-isolated-white-background-229890038.jpg"
        height="200"
        width="300"
      />
    </div>

    <p>
      The Black Sea sprat, Clupeonella cultriventris, is a small fish of the
      herring family, Clupeidae. It is found in the Black Sea and Sea of Azov
      and rivers of its basins: Danube, Dnister, Dnipro (Ukraine), Southern Bug,
      Don, Kuban. It has white-grey flesh and silver-grey scales. A typical size
      is 10 cm (maximum 15 cm) The life span is of up to 5 years. The peak of
      its spawning is in April and it can be found in enormous shoals in
      sea-shores, filled all-round coastal shallows, moving quickly back in the
      sea at a depth of 6–30 metres. Used for food; it has around 12% fat in
      flesh. (en)
    </p>
  </body>
</html>
