<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="{{url_for('static', filename='css/fullinfo.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Sea Bass</h1>
    <p>
      sea bass, (family Serranidae), any of the numerous fishes of the family
      Serranidae (order Perciformes), most of which are marine, found in the
      shallower regions of warm and tropical seas. The family includes about 475
      species, many of them well-known food and sport fishes. Although the term
      sea bass may be used for the family as a whole, the fishes themselves bear
      a variety of names, such as hamlet, hind, cony, graysby, grouper, and
      jewfish, as well as sea bass and bass.
    </p>
    <p>
      Sea bass are rather perchlike fish. The more or less elongated body has
      small scales, the mouth is large, and the tail is generally straight-edged
      or rounded. The dorsal fin, a diagnostic feature, consists of a forward,
      spiny section and a hinder, soft-rayed section; the two portions are
      usually joined but may be separated by a notch. Young chimpanzee dressed
      in a shirt and sweater vest, scratching his head thinking. (primates)
      Britannica Quiz Wild Words from the Animal Kingdom Vocabulary Quiz Sea
      bass are carnivorous, feeding on fish, crustaceans, mollusks, and other
      invertebrates. Some are active swimmers; others, such as the groupers, are
      more sedentary. Certain species, such as the belted sandfish (Serranellus
      subligarius) of Florida, are hermaphroditic (male and female reproductive
      organs in one animal). Others, such as the groupers, may mature as one sex
      and later change to the other. Sea basses vary widely in size, from a few
      centimetres to a maximum of 2 metres (6 feet) and 225 kg (500 pounds) in
      such species as the goliath grouper (Epinephelus itajara) and 2.7 metres
      (9 feet) and 400 kg (900 pounds) in the giant grouper (E. lanceolatus).
      Colour also varies, both among and within species. Some sea basses, for
      example, are able to change to any of several colour patterns. In other
      species the young may be patterned differently from the adults, and in
      still others individuals inhabiting deeper waters may be considerably
      redder than those of the same species living near shore.
    </p>

    <h2>Sites</h2>
    <div>
      <img
        src="https://cdn.britannica.com/43/9443-050-5D22A052/Black-sea-bass.jpg"
        height="200"
        width="300"
      />
      <iframe
        src="https://www.google.com/maps/d/u/0/embed?mid=1c-k9svhSicU_4vO515brX3PGMlwn2yw&ehbc=2E312F"
        width="300"
        height="200"
      ></iframe>
      <img
        src="https://cdn.shopify.com/s/files/1/0357/3497/8696/articles/Sea-bass-recipe_18f6295b-0e26-4d03-9059-32afaf894dee.jpg?v=1634631293"
        height="200"
        width="300"
      />
    </div>

    <p>
      The family Moronidae, sometimes considered a subfamily of the Serranidae,
      includes about six species of sea basses found in more northern regions.
      These fishes, distinguished by two separate dorsal fins that are joined at
      the base, live in the temperate waters of North America and Europe. A few
      of these fishes, such as the striped bass (Morone, or Roccus, saxatilis),
      enter rivers to spawn. The white perch (M. americana, or R. americanus),
      which also enters fresh water to breed, is in some areas permanently
      landlocked in certain streams and ponds.
    </p>
  </body>
</html>
