<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="{{url_for('static', filename='css/fullinfo.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Striped Red Mullet</h1>
    <p>
      Trout are a group of freshwater fish species that belong to the Salmonidae
      family, which also includes salmon and chars. They are known for their
      beautiful colors, excellent taste, and popularity among anglers for
      recreational fishing. Trout are found in various parts of the world,
      including North America, Europe, Asia, and New Zealand, and are highly
      valued for their sport fishing and culinary qualities. There are several
      species of trout, including rainbow trout, brown trout, brook trout,
      cutthroat trout, and lake trout, among others. Each species has its own
      unique characteristics in terms of size, coloration, habitat preferences,
      and behavior. Trout have a streamlined body shape with a forked tail,
      which allows them to swim swiftly in freshwater rivers, streams, lakes,
      and ponds. They have small scales, and their colors can vary depending on
      the species, age, and environmental factors. Rainbow trout, for example,
      are known for their vibrant colors, with a pink stripe along their sides
      and a greenish-blue back, while brown trout typically have a mottled brown
      or olive coloration with scattered red and black spots.
    </p>
    <p>
      Trout are carnivorous fish that feed on a variety of prey, including
      insects, crustaceans, small fish, and even small mammals in some cases.
      They are opportunistic feeders and can adapt their diet to the available
      food sources in their environment. Trout are popular among anglers for
      recreational fishing, and many anglers enjoy the challenge of catching
      trout on a fly rod using various fishing techniques such as fly fishing,
      spin fishing, and bait fishing. Trout are known for their strong fighting
      ability and can provide an exciting and rewarding fishing experience.
    </p>

    <h2>Sites</h2>
    <div>
      <img
        src="https://cdn.britannica.com/48/117548-050-120541EE/Rainbow-trout.jpg"
        height="200"
        width="300"
      />
      <iframe
        src="https://www.google.com/maps/d/u/0/embed?mid=1pjr3x16izk1g0RVLyZrG6SMv-KCv_AY&ehbc=2E312F"
        width="300"
        height="200"
      ></iframe>
      <img
        src="https://images.ctfassets.net/pujs1b1v0165/5XORm4cxcWg375vpSUOSWa/5a755042062634c1409c3097676957c6/How-to-Catch-and-Eat-the-Delectable-Brook-Trout-1.jpg?w=1280"
        height="200"
        width="300"
      />
    </div>

    <p>
      In culinary terms, trout are highly regarded for their delicate, flavorful
      flesh. Trout have tender, pinkish-white flesh with a mild, slightly sweet
      taste, and their meat is considered to be lean and healthy, high in
      protein, omega-3 fatty acids, and other essential nutrients. Trout can be
      prepared in various ways, including baking, broiling, grilling,
      pan-frying, and smoking. They can be served as a whole fish, fillets, or
      steaks, and are often used in recipes such as trout almondine, trout
      amandine, or simply pan-fried with lemon and herbs. It's important to
      consider the sustainability of trout, as with any other fish species.
      Overfishing, habitat destruction, pollution, and other factors can impact
      trout populations and their ecosystems. When purchasing trout, it's a good
      idea to look for sustainably sourced options, such as those certified by
      organizations like the Marine Stewardship Council (MSC) or the Aquaculture
      Stewardship Council (ASC), to support responsible fishing practices and
      help protect trout populations for future generations to enjoy.
    </p>
  </body>
</html>
