<!DOCTYPE html>
<head>
<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="container-close">&times;</div>
    <img
      src="https://cdn.shopify.com/s/files/1/0085/7289/5337/products/0119646_600x.jpg?v=1620045745"
      alt="image"
    />
    <div class="container-text">
      <h2>convonutional network machine learning <br />fish identifier</h2>
      <p>
        Join and grow community <br />
        free guide and to fish men <br />
        hope you like it
      </p>
      <form method="post" action="/" enctype="multipart/form-data">
      <input type="file" name="file"/>
      <button type="submit">submit</button>
     </form>
      <span>No spams included</span>
    </div>
  </div>
  
</body>
</html>
